<% if (todos.length> 0) { %>
    <ul class="list-unstyled w-50 mx-auto" id="todo">
        <% for (let todo of todos) { %>
            <li>
                <div
                    class="alert <%= todo.completed ? 'alert-success' : 'alert-secondary' %> d-flex justify-content-between align-items-center">
                    <% if (todo.completed) { %>
                        <span class="badge rounded-pill bg-primary">
                            <%= todo.id %>
                        </span>
                        <del>
                            <%= todo.text %>
                        </del>
                        <a href="/admin/delete-todo/<%= todo.id %>" class="fa fa-trash" style="color: red;"></a>
                        <% } else { %>
                            <span class="badge rounded-pill bg-primary">
                                <%= todo.id %>
                            </span>
                            <%= todo.text %>
                                <div>
                                    <a href="/admin/delete-todo/<%= todo.id %>" class="fa fa-trash"
                                        style="color: red;"></a>
                                    <a href="/admin/complete-todo/<%= todo.id %>" class="fa fa-check-square mr-2"
                                        style="color: green;"></a>
                                </div>
                                <% } %>
                </div>
            </li>
            <% } %>
    </ul>
    <% } else { %>
        <div class="alert alert-warning w-50 mx-auto" role="alert">
            <h4 class="text-center">هنوز کاری برای انجام دادن ثبت نشده است.</h4>
            <p>می‌توانی کارهای امروزت را بالا بنویسی تا برایت ثبت کنم</p>
        </div>
        <% } %>